


.behind{
    width: 100%;
    position: relative;
}
.my_navbar{
    width: 97.9%;
    margin: auto;
    bottom: calc( var(--height-bgr) / 3.6 );
    transform: translateY(-50%);
    /* background-color: rgb(255, 248, 248); */
    padding: 40px 0 20px 0;
    border-radius: 130px 0px 130px 0px;
    box-shadow: 0px 5px 11px 3px rgb(209 170 170 / 50%);
    background: linear-gradient(#eefbe4, #d6f2c2)

    /* background: linear-gradient( #c6ffdd, #fbd786, #f7797d) */

}
.my_show{
    margin-left:30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 5px 11px 7px rgba(255, 171, 171, 0.5);
}
.my_avatar-img{
    width: 100%;
    height: 100%;
}
.list_icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    margin-top: 30px;
}
.icon_show{
    margin: 0 10px;
    padding: 0 5px;
}
.icon_icon{
    font-size: 1.6rem;
    color: #337ab7;;
}
.icon_icon:hover{
    color:red;
}






.My_fullname{
    /* font-family: "Paytone One"; */
    text-transform: uppercase;
    font-size: 40px;
    font-weight:600;
    text-shadow:  0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}
.My_Job{
    font-size: 1.6rem;
    display: block;
    padding: 14px 0;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 8px 6px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    font-family: 'Lobster';
}
.list_declaration:first-child{
    margin-top: 8px;
}
.list_declaration{
    display:flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.declaration_content{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    text-shadow:  0 8.36px 5.896px #c4b59d,0 -2px 1px #fff;
    margin: 6px 0;
    font-weight:600;
}
.declaration_content:hover{
    cursor: pointer;
    color: blue;
}
.declaration_content a:hover{
    cursor: pointer;
    color: blue;
}
.declaration_content a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow:  0 8.36px 5.896px #c4b59d,0 -2px 1px #fff;
    font-weight:600;
}





/* Navbar */
.nav_bar{
    display:flex;
    align-items:center;
    width: 100%;
    z-index: 1;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 1px 1px 1px rgb(209, 170, 170,.5); */
    margin-top: -155px;
    transition: all 0.5s ease;
    transition: opacity 0.2s;
}
.icon_close-navMb{
    display: none;
}
.icon_navbar{
    font-size: 2.4rem;
    color: #337ab7;
    margin: 0 20px 0 30px;
}

.list_home{
    display:flex;
    flex: 1;
    align-items:center;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    position: relative;
}
.home_content{
    padding: 9px 0;
    width: 18%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: #337ab7;
    text-transform: uppercase;
    border-radius: 50px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}
.home_content:hover{
    opacity: 1;
    background-color: #ff3b7cfe;
    color :#337ab7;
}
.icon_navbar:hover{
    opacity: 1;
    color: violet;
}




/* Show contact */

.content_list-home{
    position: relative;
    width: 100%;
}
.conten_show.active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.conten_show{
    display: none;
}
.home_content.active{
    opacity: 1;
    background-color: #ff7faad3;
    color :#ffffff;
    text-shadow:  0 3.36px 2.896px #f56c6c,0 -2px 1px rgb(239, 183, 183);

}
.content_heading{
    text-align: center;
    text-decoration: uppercase;
    font-size: 2.8rem;
    padding: 70px 0 30px 0;
    color :#337ab7;
    text-shadow:   0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;;
}
.conatct{
    background-size: cover;
    position: relative;
    padding: 30px 0;
}
.form_contact{
    max-width: 570px;
    margin: auto;
    background-color: rgb(255 255 255 / 33%);
    box-shadow:  0 13.36px 8.896px #ffa774,0 -2px 1px #fff;
    padding: 30px 12px;
    border-radius: 12px;
}
.circle{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
}
.form_heading{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.4rem;
    color :#337ab7;
    margin-bottom: 20px;
    text-shadow:  0 13.36px 8.896px #ffa774,0 -2px 1px #fff;

}
.form_sub{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    color :#337ab7;
    margin-bottom: 20px;
    text-shadow:  0 13.36px 8.896px #ffa774,0 -2px 1px rgb(255, 255, 255);
}
.boder_input-form{
    width: 100%;
    border-bottom: 1px solid rgb(104, 104, 104);
}
.input_form-contact{
    width: 100%;
    height: 47px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0)
}
.sub_form-input{
    font-size:2rem;
    color :#337ab7;
    margin-top: 40px;
    text-shadow:  0 13.36px 8.896px #ffa774,0 -2px 1px #fff;
}
.input_form-contact.message{
    padding-top: 6px;
    height: 130px;
    font-size: 1.8rem;
    font-family: 'courier new', Times, serif;
}
.btn_primary-link.submit{
    border: none;
    outline: none;
    margin-top: 40px;
    border-radius: 12px 0 12px 0;
    box-shadow:  0 13.36px 8.896px #ffa774,0 -2px 1px #fff;

}
.error-input{
    margin-top: 6px;
    font-size: 1.6rem;
    color: rgb(255, 0, 0);
    display:block;
}
.boder_input-form{
    position: relative;
}
.boder_input-form:hover .border_input{
    width: 100%;
    left: 0;
    transition: all 0.5s ease;
}
.border_input{
    display: block;
    position: absolute;
    left: 50%;
    height: 2px;
    width: 0%;
    background-color: rgb(255, 0, 0);
    transition: all 0.5s ease;
}



/* Footer */
.footer{
    width: 100%;
    padding: 60px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    text-shadow: 0 2.5px 1.896px #6e6d6d, 0 0px 0px rgb(129 193 252);
}
.footer_heading{
    font-size: 2.2rem;
    margin: 10px 0 20px;
}
.footer_sub{
    font-size: 1.8rem;
    margin-bottom: 20px;
    
}
.info{
    width: 246px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.info__list{
    display: flex;
    align-items: center;
    margin: 6px 0;
}
.info__icon{
    font-size: 1.6rem;
    margin-right: 16px;
}
.info__sub{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 2.5px 1.896px #6e6d6d, 0 0px 0px rgb(129 193 252);
    text-decoration: none;
}
.info__sub:hover{
    color:rgb(0, 62, 100);
    text-shadow: 0 0 0 ;
    font-weight: 600;
}
.foot__by{
    width: 100%;
    text-align: center;
}
.foot__by span{
    font-size: 1.6rem;
    color:rgb(0, 62, 100);
    text-shadow: 0 0 0 ;
    font-weight: 600;
}
.foot__by a{
    text-decoration: none;
    font-size: 1.6rem;
    color:rgb(0, 62, 100);
    text-shadow: 0 0 0 ;
    font-weight: 600;
}




/* music */
.music{
    width: 100%;
    margin: 8px 0 0 0 ;
    padding: 40px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    transition: all 0.5s ease;
    position: relative;
    transition: opacity 0.2s;
}
.cd_thumd{
    
    display: flex;
    align-items: center;
}
.cd_thumd-heading{
    font-size: 1.5rem;
    color:#fff;
    width: 100%;
    margin: auto;
}
.cd_thumd-sub{
    margin-top: 12px;
    font-size: 1.2rem;
    color:rgb(176, 167, 167);
}
.music_show{
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 12px;
    border-radius:50%;
    box-shadow: 0 8px 60px 0 rgba(126, 139, 255, 0.18), 0 12px 90px 0 rgba(103, 151, 255, .11);
}

.music_name{
    text-align: center;
    width: 140px;
}
.music_show-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.navmussic{
    width: 100%;
    display: flex;
    align-items: center;
    height: 240px;
    overflow: hidden;
}
.navmusic_show-img{
    position: relative;
    width: 380px;
    height:100%;
    list-style: none;
    margin-right: 20px;
}
.navmusic_show-content{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 12px;
    margin-right: -20px;
}
.none{
    display: none;
}
.navmusic_show-img-content.one{
    width: 220px;
    height: 220px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    transition: 1s linear 0.08s;
}
.navmusic_show-img-content.tow{
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc((220px - 200px) / 2);
    right: calc((220px - 200px) * 2);
    z-index: 3;
    opacity: .7;
    transition: 1s linear 0.08s;
}
.navmusic_show-img-content.three{
    width:180px;
    height:180px;
    position: absolute;
    top: calc((220px - 180px) / 2);
    right: calc((220px - 180px) * 2);
    z-index: 2;
    opacity: .7;
    transition: 1s linear 0.08s;
}
.navmusic_show-img-content.four{
    width: 160px;
    height: 160px;
    position: absolute;
    top: calc((220px - 160px) / 2);
    right: calc((220px - 160px) * 2);
    z-index: 1;
    transition: 1s linear 0.08s;
}
.loudspeaker-icon-mic.fixel{
    position: absolute;
    top: 44px;
    right: 20px;
    padding: 16px 20px;
    font-size:3rem;
    z-index: 10;
    display: none;
}
.loudspeaker-icon-mic.close{
    display: none;
}



/* danh sách bài hát */
.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px 16px;
    margin-right: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: .05s linear 0.08s;
}
.song:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}
.song.active {
    background-color: var(--primary-color);
    transition: .05s linear 0.08s;
}
.song.active .title{
    color:#fff;
}
.song.active .author{
    color:#fff;
}
.song.active .control__icon{
    color:#fff;
}
.control__icon{
    color:#fff;
    font-size: 1.6rem;
}
.btn_controll.active .control__icon{
    color:rgb(255, 18, 81);
    font-size: 1.6rem;
}
.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}
.song .body {
    flex: 1;
    padding: 0 16px;
}
.song .title {
    font-size: 18px;
    color: #fff;
}
.song .author {
    font-size: 12px;
    color: #999;
}
.song .option {
    padding: 16px 8px;
    font-size: 18px;
}
.icon_heart{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    margin: 0 8px;
}
.icon_heart.active {
    color:rgb(254, 212, 0);
}



/* control */
.free_space{
    margin: auto;
}
.dashboard{
    display: flex;
    align-items: center;
    background-color: #2704136a;
    margin-top: 40px;
    padding: 12px 0;
}
.control .btn-toggle-play {
    background-color: var(--primary-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    color :rgb(255, 255, 255);
}
.control.active .icon_paus{
    display: none;
}
.control.active .icon_play{
    display: block;
    font-size: 2rem;
    padding: 14px ;
}
.control .icon_paus{
    display: block;
    font-size: 2rem;
    padding: 14px ;
}
.control .icon_play{
    display: none;
}
.icon-play{
    margin-left: -8px;
}
.control__icon{
    padding-left: 5px;
}
.control {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.control .btn_controll {
    color: #666;
    padding: 16px;
    font-size: 14px;
    margin: 0 12px;
    border-radius: 50%;
    text-align: center;
}
.control .btn_controll.active {
    color: var(--primary-color);
}
.progress {
    width: 330px;
    margin:0 18px 0 18px;
    display:block;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: rgb(102, 2, 52);
    cursor: pointer;
}
.time_audio{
   
    display: flex;
    align-items: center;
    flex: 1;
    margin: auto;
    justify-content: center;
}
.loudspeaker{
    position: relative;
    display: flex;
    align-items: center;
}
.fix_width{
    width: 80px;
    border-radius: 8px;
    margin: 0 12px;
    display:block;
    -webkit-appearance: none;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 8px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;  
}
.fix_width::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #fff;
    cursor: pointer;
    border-radius:50%;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.loudspeaker.active .fix_width{
    display: block;
}
.btn_controll.btn_next:hover{
    color: violet;
}
.loudspeaker_value::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}
.start_time{
    font-size: 1.8rem;
    color: #666;
}
.loudspeaker-icon{
    font-size: 1.8rem;
    color: #666;
    padding: 18px 16px;
    border-radius:50%;
    margin-right: -12px;
}
.loudspeaker-icon-mic{
    font-size: 1.8rem;
    color: #666;
    padding: 16px 18px;
    border-radius:50%;
}
.loudspeaker-icon-fixel{
    font-size: 1.8rem;
    color: #666;
    padding: 16px 18px;
    border-radius:50%;
}
.loudspeaker-icon:hover{
    color: var(--primary-color);
}
.loudspeaker-icon-fixel:hover{
    color: var(--primary-color);
}
.audio_time{
    font-size: 1.8rem;
    color: #666;
}
.loudspeaker-icon-mic:hover{
    color: violet;
    background-color: rgba(238, 130, 238, 0.088);
}



/* My img */
.info_my{
    width: 100%;
    margin: auto;
}
.show_img-my{
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: auto;
    border-radius:50%;
    box-shadow: 0 8px 30px 0 rgba(126, 139, 255, 0.18), 0 12px 90px 0 rgba(103, 151, 255, .11);
}
.my_img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.My_fullname.info_my-name{
    text-align: center;
    width: 100%;
    font-size: 4rem;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);     
    color: #fff;
    margin: 40px  auto 40px auto;
    display: block;
}
.list_music-name{
    color: rgb(200, 190, 190);
    margin-left: 16px;
    font-size: 2rem;
    margin-top: 50px;
}


/* Heding name */
.heading_my-music{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}



/* Img */
.images{
    background-color: var(--primary-page);
    padding: 40px 12px;
}
.footer_heading.img{
    font-size: 1.9rem;
    font-weight: 600;
    margin: 30px 0 16px 12px;
}
.img_countryside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hug.horizontal{
    width:49% ;
    position: relative;
    margin-bottom: 1%;
    height: 380px;
    overflow: hidden;
}
.hug_img-content{
    width: 100%;
    transition: all 0.5s ease;
}
.hug_img-content:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.img_soldier{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hug.soldier{
    width: 24% ;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    height: 300px;
}
.hug_icon-zomm{
    position: absolute;
    top: 10px;
    left: 5px ;
    font-size: 2.2rem;
    color: rgb(138, 135, 135);
}
.hug_icon-small{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 2.2rem;
    color: rgb(138, 135, 135);
}
.hug_icon-zomm:hover{
    color: rgb(16, 56, 255);
}
.hug_icon-small:hover{
    color: rgb(16, 56, 255);
}

.close-img{
    position: absolute;
    z-index: 999;
    top: -20px;
    right: 20px;
    font-size:3rem;
    color:  rgb(255, 255, 255);
    right: 6rem;
    padding: 20px;
}
.close-img:hover{
    color:  rgb(0, 0, 0);
    background-color:rgba(117, 117, 117, 0.306);
}

.icon_next{
    z-index: 999;
    font-size: 6rem;
    color:  rgb(70, 63, 63);
    padding: 20px;
}
.icon_next:hover{
    color:  rgb(0, 255, 247);
    background-color:rgba(117, 117, 117, 0.306);
}




/* Skill */

.show_skill{
    padding: 50px 12px;
    margin-top: 8px;
    width: 100%;
    /* background-color: var(--primary-page); */
    background-color: rgba(255, 252, 252, 0.061);
    box-shadow: 0px -3px 26px rgb(255 255 255);
    border-radius: 30px
}
.percent{
    width: 90%;
    height: 2px;
    display:block;
    opacity: .7;
    color: red;
    border-radius: 8px;
    
}
.percent::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius:50%;
    
}
.percent_sub{
    font-size:1.8rem;
    color:#333;
    font-weight: 600;
    margin: 20px 0 6px 0;
}
.percent_course{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.percent_course-number{
    font-size: 1.8rem;
    color: #000000;
    font-weight: 600;
}
.pc_top{
    margin-top: -166px;
}

.content_skill{
    padding: 0 12px;
}
.show_soft-skill{
    width: 90%;
    height: 2px;
    background-color:  rgba(125, 125, 125, 0.633);
    border-radius: 20px;
}
.width_show_soft{
   
    position: relative;
    transition: all .3s linear;
}
.width_show_soft2{
    position: relative;
    transition: all .3s linear;
}
.width_show_soft2::after{
    position: absolute;
    top: -5px;
    right: 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b73333;;
}

.width_show_soft::after{
    position: absolute;
    top: -5px;
    right: 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #337ab7;;
}

.content_skill-rout{
    padding: 0 12px 0 26px;
}
.respon_tapMobile{
    display:none;
}
.footer_heading.day{
    margin-left: 12px;
    font-size:1.6rem;
    font-weight: 600;
}

/* blog */
.text-blog{
    font-weight: 550;
    font-size: 1.6rem;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    line-height: 2.4rem;
}
.content_blog{
    width: 100%;
    padding: 6px 12px;
    background-color:  rgb(255 255 255 / 53%);
    border-radius: 20px;
    box-shadow:  0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;

}
.text-blog.red{
    color: red;
}
.text-blog.blue{
    color: rgb(0, 123, 255);
}
.show_blog-img{
    width: 100%;
    margin: 50px auto auto auto;
}
.img_blog{
   width: 100%;

}
.show_all-blog{
    display: none;
}
.show_small-blog{
    display: none;
    position: absolute;
    bottom: 0;
    left: 12px;
    margin-left: -12px;
    padding-left: 12px;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(94, 92, 92);
    line-height: 2.5rem;
    background-color: rgb(253 228 198);;
    width: 100%;
}
